.git
.env
.DS_Store # macOS specific ignore
airflow_settings.yaml
__pycache__/
**/__pycache__/
*.pyc
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
logs
.venv_dbt/
profiles.yml
*.log
*.pid
airflow/logs/
airflow/config/ingestion/*.csv
dbt/target/
dbt/**/target/
dbt/logs/
dbt/**/logs/
dbt_project/logs/
dbt/profiles/.user.yml
metabase_pg_data/
metabase.db.mv.db
metabase.db.trace.db
