version: "3.9"

services:
   # Object Storage (MinIO)
  
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Console UI
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 10

  minio_init:
    image: quay.io/minio/mc:latest
    container_name: minio_init
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET_RAW: ${MINIO_BUCKET_RAW}
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 $${MINIO_ROOT_USER} $${MINIO_ROOT_PASSWORD} &&
      mc mb -p local/$${MINIO_BUCKET_RAW} || true &&
      mc anonymous set download local/$${MINIO_BUCKET_RAW} || true &&
      echo 'MinIO bucket ensured.'
      "

  
  # Metadata DB (Postgres)
  
  postgres-meta:
    image: postgres:16
    container_name: postgres-meta
    environment:
      POSTGRES_USER: ${POSTGRES_META_USER}
      POSTGRES_PASSWORD: ${POSTGRES_META_PASSWORD}
      POSTGRES_META_DB: ${POSTGRES_META_DB}
    # ports:
    #   - "5434:5432"   # host:container (host port is optional; keep if you want psql from your machine)
    volumes:
      - pg_meta_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_META_USER} -d ${POSTGRES_META_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10

  

  postgres-warehouse:
    image: postgres:16
    container_name: postgres-warehouse
    environment:
      POSTGRES_USER: ${POSTGRES_WAREHOUSE_USER}
      POSTGRES_PASSWORD: ${POSTGRES_WAREHOUSE_PASSWORD}
      POSTGRES_DB: ${POSTGRES_WAREHOUSE_DB}
    # ports:
    #   - "5433:5432"
    volumes:
      - postgres_warehouse_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_WAREHOUSE_USER} -d ${POSTGRES_WAREHOUSE_DB}"]
      interval: 10s
      timeout: 5s
      retries: 10

  # API (FastAPI)
  
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.api
    container_name: letterboxd_api
    env_file:
      - .env
    volumes:
      - .:/api
    ports:
      - "8000:8000"
    depends_on:
      minio:
        condition: service_healthy
      postgres-meta:
        condition: service_healthy

volumes:
  minio_data:
  pg_meta_data:
  postgres_warehouse_data:















